.main-weather{
    &__icon{
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url('../../../public/icons/sun.svg');
        width: 95px;
        height: 95px;
        &.rain{
            background-image: url('../../../public/icons/rain.svg');
        }
        &.cloudy{
            background-image: url('../../../public/icons/cloudy.svg');
        }
    }
    &__temperature{
        font-size: 50px;
        line-height: 61px;
        font-weight: 700;
        margin: 9px 0 13px 0;
    }
    &__type{
        font-size: 30px;
        line-height: 37px;
        font-weight: 700;
    }

    .skeleton{
        span{
            height: 37px;
            margin: 0;
            &.icon{
                width: 95px;
                height: 95px;
            }
            &.temperature{
                width: 150px;
                height: 61px;
                margin: 9px 0 13px 0;
            }
        }
    }
}