.more-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 944px;
    background: #222831;
    padding: 55px 48px 55px calc(50% + 33px);
    border-radius: 25px;
    color: #fff;
}